p#showinfo {
    position: absolute;    
    color: white;
    background: black;
    font-size: 14px;
    line-height: 1.6em;    
    padding: 0 1em;    
    max-width: 141px;
    margin: 0;    
    border-radius: 3px;
    cursor: default;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
  }

  p#showinfo span {
    padding-top: 0.3em; 
    cursor: text;
    background: #404040;   
    padding: 0 0.3em;
  }

  div#pointer {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 12px;    
    border: 2px solid white;
    box-sizing: border-box;
    box-shadow: 0 0 5px 3px #00000066;
    cursor: default;
  }
  
  .hide {
    display: none;
  }

  .show {
    display: block;
  }
