
body, html {
  /* background-color: #282c34; */
}

.app-title {
  font-size: 5vw;    
  letter-spacing: -0.09em;
  color: #3a444b;
  margin: 3vh;
  text-align: center;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btn_choose{
  font-size:16px;
}

.change-color-board{
  width: 65%;
  margin: auto;
}

.change-color-board .title{
  font-size: 2vw;
  color: #3a444b;
  margin: 2vh;
  text-align: center;
  text-shadow: 0px 0px 1px;
}

.change-color-board .sel-color{
  width: 100%;
  height: 50px;
  background-color: #282c34;

}



@media (max-width: 888px) {
  .App-header {   
    flex-direction: column-reverse;
  }

  h1 {
    font-size: 15vw;  
    margin:  3vh 0;
  }
  
}
